:root {
  --primary-color: #007bff;
  --primary-hover-color: #0056b3;
  --font-size-base: 16px; /* Base font size */
  --spacing-unit: 10px;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: var(--spacing-unit) * 2;
}

.container {
  max-width: 1000px;
  margin: auto;
  background-color: #fff;
  padding: var(--spacing-unit) * 3;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header, main {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-unit) * 3;
}

header h1 {
  font-size: calc(1.25 * var(--font-size-base));
}

header p, #disclaimer {
  color: #666;
}

.calculator input, .calculator button {
  width: 100%;
  padding: var(--spacing-unit) * 1.2;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: var(--primary-color);
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--primary-hover-color);
}

.result-section, .calculator {
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
